<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link
    rel="icon"
    href="/images/favicon_io/favicon.ico"
    type="image/x-icon"
/>
    <title>Forget Password</title>
</head>
<body>
    <div class="login" id="login">
        <div class="login-popup-content">
            <div class="popup-login-content" >
                <div class="popup-login-content_img" >
                    <img src="/images/logo.png" alt="">
                </div>
                <div class="popup-login-content-form">
                    <form method="POST" action="/auth/forget-password">
                        <div class="popup-login-content-input">
                            <label for="email"></label>
                            <input type="email" name="email" placeholder="Nhập email của bạn">
                        </div>
                            <button type="submit" class="popup-login-content-btn-yellow">Tiếp Theo</button>
                        </div>
                        <div class="group-btn">
                            <div class="popup-login-content-forgot-password">
                                <a href="/auth/register">Tạo Tài Khoản</a>
                            </div>
                            <div>
                            <div class="popup-login-content-forgot-password">
                                <a href="/auth/login">Đăng nhập</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="text_return"><a href="/">Quay về màn hình chính</a></div>
            </div>
        </div>
    </div>

    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"
        ></script>
</body>
</html>