<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/login.css" />
        <link
            rel="icon"
            href="/images/favicon_io/favicon.ico"
            type="image/x-icon"
        />
        <title>Login</title>
    </head>
    <body>
        <div class="login" id="login">
            <div class="login-popup-content">
                <div class="popup-login-content">
                    <div class="popup-login-content_img">
                        <img src="/images/logo.png" alt="" />
                    </div>
                    <div class="popup-login-content-form">
                        <form method="POST" action="/auth/login">
                            <div class="popup-login-content-input">
                                <label for="username"></label>
                                <input
                                    type="text"
                                    name="username"
                                    placeholder="Nhập tên tài khoản của bạn"
                                />
                            </div>
                            <div class="popup-login-content-input">
                                <label for="password"></label>
                                <input
                                    type="password"
                                    name="password"
                                    placeholder="Nhập mật khẩu của bạn"
                                />
                            </div>
                            <div class="popup-login-content-forgot-password">
                                <a href="/auth/forget-password"
                                    >Quên mật khẩu</a
                                >
                            </div>
                            <div>
                                <button
                                    type="submit"
                                    class="popup-login-content-btn-yellow"
                                >
                                    Đăng Nhập
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="popup-login-content-sugget-text">
                        <div class="text">Bạn chưa có tài khoản?</div>
                        <div class="link">
                            <a href="/auth/register">Tạo tài khoản</a>
                        </div>
                    </div>
                    <div class="text_return">
                        <a href="/">Quay về màn hình chính</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
