<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/font-awesome6.1.1.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="icon"
      href="/images/favicon_io/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/backToTop.css" />
    <!-- mũi tên -->
    <link rel="stylesheet" href="/css/fontAwesome5Pro.css" />
    <!-- căn chỉnh -->
    <link rel="stylesheet" href="/css/default.css" />
    <!-- css tổng -->
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="icon"
      href="/images/favicon_io/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/base.css" />

    <style>
      /* Hide scrollbar for Chrome, Safari and Opera */
      ::-webkit-scrollbar {
        display: none;
      }
      /* Hide scrollbar for IE, Edge and Firefox */
      body {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
      .form-loader {
        /* background-color: black; */
        margin: auto;
        width: 20px;
        height: 20px;
        border: 5px solid rgba(255, 255, 255, 0.055);
        border-top: 5px solid rgb(255, 255, 255);
        border-bottom: 5px solid rgb(255, 255, 255);
        border-radius: 100%;
        animation: roll 2s linear infinite;
      }

      @keyframes roll {
        100% {
          transform: rotate(360deg);
        }
      }
      .eye-icon > i {
        right: 30px;
        left: auto !important;
        font-size: 14px;
        opacity: 0.9;
      }
      .eye-icon > i:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    </style>

    <title>Đăng Nhập</title>
  </head>
  <body>
    <main>
      <!-- sign up area start -->
      <section
        class="signup__area po-rel-z1 pt-100 pb-160"
        style="position: relative"
      >
        <div
          class="darklayout"
          style="
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.644);
            z-index: -1;
          "
        ></div>
        <img
          src="/images/authbg.jpeg"
          style="
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            object-fit: cover;
            z-index: -2;
            height: 800px;
          "
          alt=""
        />
        <div class="container">
          <div class="row">
            <div
              class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2"
            >
              <div class="sign__wrapper white-bg" style="padding-top: 20px">
                <div
                  class="sign__header"
                  style="
                    display: flex;
                    justify-content: center;
                    margin-bottom: 10px;
                  "
                >
                  <!-- <h1 style="text-align: center">
                                        Đăng Nhập
                                    </h1> -->
                  <div class="logo" style="width: 200px">
                    <a href="/">
                      <img src="/images/test2.png" alt="logo" />
                    </a>
                  </div>
                </div>
                <div class="sign__form">
                  <form id="login-form" method="POST" action="/auth/login">
                    <div class="sign__input-wrapper mb-25">
                      <h5>Tên đăng nhập hoặc email</h5>
                      <div class="sign__input">
                        <input
                          type="text"
                          name="username"
                          placeholder="Tên đăng nhập hoặc email"
                          required
                        />
                        <i class="fa-solid fa-user"></i>
                      </div>
                    </div>
                    <div class="sign__input-wrapper mb-10">
                      <h5>Mật khẩu</h5>
                      <div class="sign__input">
                        <input
                          name="password"
                          type="password"
                          placeholder="Mật khẩu"
                          required
                        />
                        <i class="fa-solid fa-lock"></i>
                        <span style="z-index: 9" class="eye-icon"
                          ><i class="fa-solid fa-eye"></i
                        ></span>
                      </div>
                    </div>
                    <div
                      class="sign__action d-sm-flex justify-content-between mb-30"
                    >
                      <div class="sign__forgot">
                        <a href="/auth/forget-password" class="forgetpw"
                          >Quên mật khẩu?</a
                        >
                      </div>
                    </div>
                    <button
                      type="submit"
                      class="e-btn w-100"
                      style="background-color: var(--topicColor)"
                    >
                      Đăng Nhập
                    </button>
                    <div class="sign__new text-center mt-20">
                      <p>
                        Bạn chưa có tài khoản?
                        <a
                          href="/auth/register"
                          style="color: var(--topicColor)"
                          >Đăng ký</a
                        >
                      </p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- sign up area end -->
    </main>
    <%-include('../partials/link_js.ejs')%>
    <script>
      $(document).ready(function () {
        const password = document.querySelector('[name="password"]');
        const eyeIcon = document.querySelector('.eye-icon');
        eyeIcon.style.display = 'none';

        eyeIcon.addEventListener('click', function (e) {
          if (password.type === 'password') {
            password.type = 'text';
            eyeIcon.innerHTML = '<i class="fa-solid fa-eye-slash"></i>';
          } else {
            password.type = 'password';
            eyeIcon.innerHTML = '<i class="fa-solid fa-eye"></i>';
          }
        });
        password.addEventListener('keyup', function (e) {
          if (e.target.value) {
            eyeIcon.style.display = 'inline';
          } else if (
            eyeIcon.innerHTML == '<i class="fa-solid fa-eye-slash"></i>'
          ) {
            eyeIcon.style.display = 'inline';
          } else {
            eyeIcon.style.display = 'none';
          }
        });
        const loginForm = $('#login-form');
        loginForm.on('submit', async (e) => {
          e.preventDefault();
          $('#login-form button[type="submit"]').html(
            '<div class="form-loader"></div>'
          );
          const formLogin = loginForm.serializeArray();
          const loginData = {};
          formLogin.forEach((field) => {
            loginData[field.name] = field.value;
          });
          try {
            const res = await (
              await fetch('/auth/login', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify(loginData),
              })
            ).json();
            if (res.msg) {
              const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 4000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener('mouseenter', Swal.stopTimer);
                  toast.addEventListener('mouseleave', Swal.resumeTimer);
                },
              });

              Toast.fire({
                icon: 'error',
                text: res.msg,
              });
              $('#login-form button[type="submit"]').text('Đăng nhập');
            } else {
              const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 2000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener('mouseenter', Swal.stopTimer);
                  toast.addEventListener('mouseleave', Swal.resumeTimer);
                },
              });

              Toast.fire({
                icon: 'success',
                text: 'Đăng nhập thành công',
              });
              setTimeout(() => {
                window.location.href = '/';
              }, 2000);
            }
          } catch (err) {
            const Toast = Swal.mixin({
              toast: true,
              position: 'top-end',
              showConfirmButton: false,
              timer: 3000,
              timerProgressBar: true,
              didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer);
                toast.addEventListener('mouseleave', Swal.resumeTimer);
              },
            });

            Toast.fire({
              icon: 'error',
              text: err,
            });
            $('#login-form button[type="submit"]').text('Đăng nhập');
          }
        });
      });
    </script>
  </body>
</html>
