<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <!-- Mirrored by HTTrack Website Copier/3.x [XR/YP'2000] -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Thành công</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Place favicon.ico in the root directory -->
    <link
      rel="icon"
      href="/images/favicon_io/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/font-awesome6.1.1.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/backToTop.css" />
    <!-- mũi tên -->
    <link rel="stylesheet" href="/css/fontAwesome5Pro.css" />
    <!-- căn chỉnh -->
    <link rel="stylesheet" href="/css/default.css" />
    <!-- css tổng -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/base.css" />
    <style>
      /* Hide scrollbar for Chrome, Safari and Opera */
      ::-webkit-scrollbar {
        display: none;
      }
      /* Hide scrollbar for IE, Edge and Firefox */
      body {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
    </style>
  </head>
  <body>
    <main>
      <!-- sign up area start -->
      <section
        class="signup__area po-rel-z1 pt-160 pb-145"
        style="position: relative"
      >
        <div
          class="darklayout"
          style="
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.644);
            z-index: -1;
            height: 800px;
          "
        ></div>
        <img
          src="/images/authbg.jpeg"
          style="
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            object-fit: cover;
            z-index: -2;
            height: 800px;
          "
          alt=""
        />
        <div class="container">
          <div class="row">
            <div
              class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2"
            >
              <div class="sign__wrapper white-bg">
                <div class="sign__header mb-35" style="padding: 0">
                  <h1 style="text-align: center; margin-bottom: 20px">
                    Thành Công
                  </h1>
                  <p style="padding: 0; text-align: center">
                    Chúng tôi đã gửi tới email của bạn đường link để thay đổi
                    mật khẩu. Vui lòng kiểm tra hòm thư.
                  </p>
                </div>
                <div class="sign__form">
                  <a
                    href="https://accounts.google.com/signin/v2/identifier?passive=1209600&continue=https%3A%2F%2Faccounts.google.com%2Fb%2F1%2FAddMailService&followup=https%3A%2F%2Faccounts.google.com%2Fb%2F1%2FAddMailService&flowName=GlifWebSignIn&flowEntry=ServiceLogin"
                  >
                    <button type="button" class="e-btn w-100">
                      Chuyển tới Email
                    </button>
                  </a>
                  <div class="sign__new text-center mt-20">
                    <p>
                      <a href="/auth/login" style="color: var(--topicColor)"
                        >Đăng Nhập</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- sign up area end -->
    </main>
    <%-include('../partials/link_js.ejs')%>
  </body>
</html>
