<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/base.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </head>
    <body>
        <footer>
            <div class="footer">
                <div class="footer_img">
                    <img src="/images/ft_bg_img.png" alt="" />
                </div>
                <div class="footer_boot">
                    <div class="footer_boot_text">
                        <div class="footer_boot_text_logo">
                            <img src="/images/ft_logo.png" alt="" />
                        </div>
                        <div class="footer_boot_text_ct">
                            <div class="footer_boot_text_ct_text">
                                Công ty CP TM & Dv Taco Việt Nam
                            </div>
                            <div class="footer_boot_text_ct_ch">
                                <i class="fas fa-map-marker imap"></i>
                                Tầng 2 tòa nhà T10, Times City Vĩnh Tuy, Hai Bà
                                Trưng, Hà Nội.
                            </div>
                            <div class="footer_boot_text_ct_ch">
                                <i class="fas fa-phone-alt imap"></i>
                                1900.63.69.36
                            </div>
                            <div class="footer_boot_text_ct_ch">
                                <i class="fas fa-envelope imap"></i>
                                info@tocotocotea.com
                            </div>
                            <div class="footer_boot_text_ct_ch">
                                Số ĐKKD: 0106341306. Ngày cấp: 16/03/2017.
                            </div>
                            <div class="footer_boot_text_ct_ch">
                                Nơi cấp: Sở kế hoạch và Đầu tư Thành phố Hà Nội.
                            </div>
                            <div class="icon">
                                <i class="fab fa-facebook-square imap c"></i>
                                <i class="fab fa-instagram imap c"></i>
                                <i class="fa-brands fa-youtube imap c"></i>
                                <i class="fa-brands fa-twitter imap c"></i>
                                <i class="fa-brands fa-google-plus imap c"></i>
                            </div>
                        </div>
                        <div class="footer_boot_text_vc">
                            <div class="footer_boot_text_ct_text">
                                VỀ CHÚNG TÔI
                            </div>
                            <div class="footer_boot_text_vc_text">
                                <div class="footer_boot_text_ct_ch">
                                    Giới thiệu vềTocoToco
                                </div>
                                <div class="footer_boot_text_ct_ch">
                                    Nhượng quyền
                                </div>
                                <div class="footer_boot_text_ct_ch">
                                    Tin tức khuyến mãi
                                </div>
                                <div class="footer_boot_text_ct_ch">
                                    Cửa hàng
                                </div>
                                <div class="footer_boot_text_ct_ch">
                                    Quy định chung
                                </div>
                                <div class="footer_boot_text_ct_ch">
                                    TT liên hệ & ĐKKD
                                </div>
                            </div>
                        </div>
                        <div class="footer_boot_text_vc">
                            <div class="footer_boot_text_ct_text">
                                CHÍNH SÁCH
                            </div>
                            <div class="footer_boot_text_vc_text">
                                <div class="footer_boot_text_ct_ch">
                                    Chính sách thành viên
                                </div>
                                <div class="footer_boot_text_ct_ch">
                                    Hình thức thanh toán
                                </div>
                                <div class="footer_boot_text_ct_ch">
                                    Vận chuyển giao nhận
                                </div>
                                <div class="footer_boot_text_ct_ch">
                                    Đổi trả và hoàn tiền
                                </div>
                                <div class="footer_boot_text_ct_ch">
                                    Bảo vệ thông tin cá nhân
                                </div>
                                <div class="footer_boot_text_ct_ch">
                                    Bảo trì, bảo hành
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer_boot_duoi">
                        <div class="footer_boot_duoi_td">
                            ToCoToCo - Thương hiệu trà sữa tiên phong sử dụng
                            nguồn nông sản Việt Nam
                        </div>
                        <div class="footer_boot_duoi_tt">
                            Copyrights © 2019 by ToCoToCoTea. All rights
                            reserved.
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
