<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/recruitment.css" />
        <link rel="stylesheet" href="/css/base.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
        />
        <link
            rel="icon"
            href="/images/favicon_io/favicon.ico"
            type="image/x-icon"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"
        ></script>
        <title>Tuyển dụng</title>
    </head>
    <body>
        <%- include('../partials/header', {userFName}); %>
        <div
            id="carouselExampleCaptions"
            class="carousel slide"
            data-bs-ride="carousel"
        >
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img
                        src="images/img14.jpg"
                        class="d-block w-100"
                        alt="..."
                    />
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="text-title">Cơ hội nghề nghiệp</h3>
                        <h3 class="text-conten">
                            Trở thành viên trong <br />
                            gia đình tocotoco team
                        </h3>
                        <a class="button-link" href="#">Các vị trí hiện tại</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img
                        src="images/img17.jpg"
                        class="d-block w-100"
                        alt="..."
                    />
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="text-title">Cơ hội nghề nghiệp</h3>
                        <h3 class="text-conten">
                            Trở thành viên trong <br />
                            gia đình tocotoco team
                        </h3>
                        <a class="button-link" href="#">Các vị trí hiện tại</a>
                    </div>
                </div>
            </div>
            <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev"
            >
                <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next"
            >
                <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="container main-title">
            <div class="row">
                <div class="col-xxl-2"></div>
                <div class="row col-xxl-8 text-center">
                    <p>Vị trí tuyển dụng</p>
                    <h3>Các vị trí hiện tại</h3>
                    <img src="images/img11.jpg" alt="#" />
                    <span>
                        Chúng tôi luôn tìm kiếm những người tuyệt vời! Nếu bạn
                        chưa tìm thấy cơ hội phù hợp hiện tại, nhưng tin rằng
                        bạn có thể trở thành 1 phần của ToCoToCo Tea, hãy gửi
                        thông tin cho chúng tôi.
                    </span>
                </div>
                <div class="col-xxl-2"></div>
            </div>
        </div>
        <div class="img-title">
            <div class="bg_color">
                <div class="conten">
                    <img
                        src="images/imgiconbanner.png"
                        style="width: 50px"
                        alt="#"
                    />
                    <p>
                        “ToCoToCo với tâm huyết lấy nông sản Việt Nam làm nguồn
                        nguyên liệu chính, dùng nông sản Việt tạo ra những ly đồ
                        uống mang
                        <br />
                        đậm hương vị quê hương, an toàn và giàu giá trị dinh
                        dưỡng. Việc ưu tiên sử dụng nguồn nông sản trong nước
                        trong pha chế góp <br />
                        phần đẩy mạnh tiêu thụ, gắn với cuộc vận động “Người
                        Việt Nam ưu tiên dùng hàng Việt Nam” vừa thúc đẩy niềm
                        tự hào dân tộc <br />
                        đồng thời giải quyết vấn đề đầu ra của nông sản Việt là
                        giá trị cốt lõi của TocoToco cả hiện tại và tương lai”
                    </p>
                </div>
            </div>
        </div>
        <div class="container about-us">
            <div class="row grid grid-reverse">
                <div class="col-xxl-6 about-info">
                    <h3>Lịch sử phát triển</h3>
                    <p>
                        Trở về những ngày đầu tiên khi TocoToco là một cửa hàng
                        nhỏ nhưng luôn tấp nập phục vụ khách hàng những sản phẩm
                        được làm từ nguồn nguyên liệu sạch và chất lượng hàng
                        đầu. Tháng 11/2013, thương hiệu trà sữa TocoToco chính
                        thức được thành lập bởi công ty cổ phần thương mại dịch
                        vụ Taco Việt Nam. Tính đến thời điểm hiện tại, TocoToco
                        hiện có khoảng 150 cửa hàng phủ sóng trên toàn quốc và
                        là tên tuổi được người tiêu dùng yêu mến và tin cậy hàng
                        đầu tại thị trường Việt Nam.
                    </p>
                </div>
                <div class="col-xxl-6 about-img">
                    <img src="images/img13.jpg" alt="#" />
                </div>
            </div>
            <div class="row grid">
                <div class="col-xxl-6 about-img">
                    <img src="images/img12.jpg" alt="#" />
                </div>
                <div class="col-xxl-6 about-info">
                    <h3>Khác biệt đến từ những điều đơn giản nhất</h3>
                    <p>
                        Ngay từ đầu, Tocotoco đã định hình và lựa chọn con đường
                        đi khác biệt. Đó là không chỉ đem đến những ly đồ uống
                        chất lượng hảo hàng mà còn đem lại cho khách hàng những
                        trải nghiệm, xúc cảm tuyệt vời nhất. Các cửa hàng của
                        chúng tôi đã trở thành địa điểm dành cho những người yêu
                        thích trà, đặc biệt là trà sữa trên khắp Việt Nam. Tại
                        sao họ chỉ muốn thưởng thức trà sữa TocoToco? Vì họ biết
                        họ có thể tin tưởng vào "dịch vụ chân thật, một không
                        gian hấp dẫn và một ly trà sữa tuyệt hảo" được pha chế
                        một cách chuyên nghiệp.
                    </p>
                </div>
            </div>
            <div class="row grid grid-reverse">
                <div class="col-xxl-6 about-info">
                    <h3>TocoToco – Nhiều hơn cả một ly đồ uống</h3>
                    <p>
                        Với một ly đồ uống TocoToco, chúng tôi thật sự kỳ vọng
                        sẽ truyền cảm hứng và nuôi dưỡng tâm hồn con người –
                        những người bạn, những ly trà sữa ngọt ngào và những
                        phút giây thư giãn quý giá. Mọi người đến TocoToco để
                        trò chuyện, họp mặt hoặc làm việc. Chúng tôi là địa điểm
                        tụ họp cho tình bạn, tình yêu, tình đồng nghiệp, những
                        mối quan hệ đã trở thành một phần trong cuộc sống hàng
                        ngày – và đây chính là những điều nhỏ xinh khiến chúng
                        tôi không thể hạnh phúc hơn.
                    </p>
                </div>
                <div class="col-xxl-6 about-img">
                    <img src="images/img10.jpg" alt="#" />
                </div>
            </div>
        </div>

        <div class="container about-collection">
            <div class="row">
                <div class="col-xxl-3 collection-item">
                    <a href="#">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="80"
                            height="80"
                            fill="currentColor"
                            class="bi bi-briefcase"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"
                            />
                        </svg>
                    </a>
                    <br />
                    <span
                        >Chính sách tuyển dụng chuyên nghiệp, minh bạch, công
                        bằng</span
                    >
                </div>
                <div class="col-xxl-3 collection-item">
                    <a href="#">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="80"
                            height="80"
                            fill="currentColor"
                            class="bi bi-mortarboard"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5ZM8 8.46 1.758 5.965 8 3.052l6.242 2.913L8 8.46Z"
                            />
                            <path
                                d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46l-3.892-1.556Z"
                            />
                        </svg>
                    </a>
                    <br />
                    <span
                        >Trung tâm đào tạo với nhiều chương trình đào tạo chức
                        danh, đào tạo nguồn</span
                    >
                </div>
                <div class="col-xxl-3 collection-item">
                    <a href="#">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="80"
                            height="80"
                            fill="currentColor"
                            class="bi bi-trophy"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"
                            />
                        </svg>
                    </a>
                    <br />
                    <span
                        >Cơ hội thăng tiến rộng mở với phương châm: Phát triển
                        nguồn lực nội bộ là trọng tâm</span
                    >
                </div>
                <div class="col-xxl-3 collection-item">
                    <a href="#">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="80"
                            height="80"
                            fill="currentColor"
                            class="bi bi-cash"
                            viewBox="0 0 16 16"
                        >
                            <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                            <path
                                d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z"
                            />
                        </svg>
                    </a>
                    <br />
                    <span
                        >Chế độ đãi ngộ, thưởng hấp dẫn, cạnh tranh, xứng đáng
                        với năng lực và đóng góp</span
                    >
                </div>
            </div>
        </div>
        <%- include('../partials/footer'); %>
    </body>
</html>
