@import url(../style/base.css);
* {
    padding: 0px;
    margin: 0px;
}
.login {
    width: 100%;
    height: 100%;
}
.login-popup-content-background img {
    width: 1518.4px;
    height: auto;
    position: relative;
}

.login-popup-content {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/images/north_background_login_desktop.png) no-repeat center;
    background-size: cover;
}
.popup-login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 5px;
    padding: 24px 120px;
    border-radius: 5%;
}
.popup-login-content-form {
    width: 18rem;
}
.popup-login-content_img img {
    width: 200px;
    margin-bottom: 20px;
}
.popup-login-content-input input {
    background: 0 0;
    outline: unset;
    border: none;
    padding: 10px 0;
    font-size: 14px;
    border-bottom: 1px solid #d6cdbc;
    width: 100%;
    outline: 0 !important;
    box-shadow: none;
}
.popup-login-content-forgot-password {
    text-align: right;
    margin-top: 16px;
    cursor: pointer;
    font-weight: bold;
}
.popup-login-content-forgot-password a {
    color: #d4b774;
}
.popup-login-content-btn-yellow {
    background: #d8b979;
    box-shadow: 0 3px 25px 0 rgb(0 0 0 0.1);
    color: #ffffff;
    margin-top: 24px;
    font-size: 14px;
    overflow: visible;
    min-height: 42px;
    height: auto;
    display: flex;
    line-height: normal;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 5px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}
.popup-login-content-sugget-text {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.popup-login-content-sugget-text .link a {
    font-weight: bold;
    color: #d4b774;
    margin-left: 8px;
    cursor: pointer;
}
.text_return a {
    color: blue;
}
/* quên mật khẩu */
.group-btn {
    display: flex;
    margin: 30px;
    grid-gap: 2rem;
    justify-content: center;
}

/*  */
