body {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .news-header {
      width: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/img1.jpg) no-repeat center;
      height: 300px;
      text-transform: uppercase;
      font-size: 36px;
      color: #d3b673;
      letter-spacing: 1.8px;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 30px;
  }
  .section{
    display: flex;
    padding-top: 50px !important;
      padding-bottom: 50px !important;
  }
  .section .nav-links a{
    text-decoration: none;
    margin-left: 30px;
  }
  .index{
    width: 20%;
  }
  .menu{
    width: 20%;
  }
  .menu .menu-title{
      font-size: 28px;
      letter-spacing: 1.4px;
      color: #d3b673;
      text-transform: uppercase;
      margin-bottom: 32px;
      font-weight: bold;
  }
  
  .menu .menu-content ul{
    list-style-type: none;
  }
  .menu .menu-content ul li a{
    text-decoration: none;
    font-size: 16px;
      line-height: 2.56;
      text-align: left;
      color: black;
      text-transform: uppercase;
  }
  .main{
    width: 40%;
  }
  .main .main-title{
    font-size: 28px;
      letter-spacing: 1.4px;
      color: #282828;
      text-transform: uppercase;
      margin-bottom: 32px;
      font-weight: bold;
  }
  .main > .main-content{
    display: flex;
    flex-wrap: wrap;
    
  }
  .main > .main-content > .post-card {
    margin-left: 30px;
    width: calc(46% - 3px);
    background-color: #f5f5f5;
    margin-bottom: 40px;
    transition: all 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-decoration: none !important;
    position: relative;
    
  }
  .main > .main-content > .post-card:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .main > .main-content > .post-card img{
    width: 100%;
    height: 195px;
  }
  .main > .main-content > .post-card .post-card-content{
    margin-left: 10px;
    position: relative;
    height: 250px;
  }
  .main > .main-content > .post-card .post-card-content .post-card-title{
    color: #333333;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    height: 50px;
    font-family: Muli;
    font-weight: 700;
    line-height: 24px;
  }
  .main > .main-content > .post-card .post-card-content .post-card-excerpt{
    color: #333333;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .main > .main-content > .post-card .post-card-content .button{
    border: 1px solid #d3b673;
    color: #fff;
    background: #d3b673;
    display: inline-block;
    align-items: center;
    padding: 8px 16px;
    position: absolute;
    bottom: 20px;
    border-radius: 5px;
  }
  .main > .main-content > .post-card:hover{
    background-color: #fff;
  }
  .main > .main-content > .post-card .post-card-content .button:hover{
    color: #d3b673;
    background: #fff;
  }