<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/404.css" />
    <link
      rel="icon"
      href="/images/favicon_io/favicon.ico"
      type="image/x-icon"
    />
    <title>No Permission</title>
  </head>
  <body>
    <div class="fault-practice">
      <div class="fault">
        <div class="fault-shared">
          <div class="fault-text1" style="font-size: 100px">Oops...</div>
          <div class="fault-text2">Bạn không có quyền truy cập:(</div>
          <div style="margin-top: 20px; font-size: 20px">
            <a href="/">Trang chủ</a>
          </div>
          <div class="fault-text3">© 2022 Nhóm 6</div>
        </div>
      </div>
    </div>
    <%-include('../partials/link_js.ejs')%>
  </body>
</html>
