<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nhượng quyền</title>

    <!-- bootstrap -->
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css" /> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mitr:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="/images/favicon_io/favicon.ico"
      type="image/x-icon"
    />

    <link rel="stylesheet" href="/css/franchise.css" />
  </head>
  <body>
    <!-- LOGO -->
    <div class="logo">
      <a href="/">
        <img src="/images/test2.png" alt="logo" />
      </a>
    </div>

    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="margin-bottom: 15px"
    >
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0" id="main-menu">
            <li class="nav-item">
              <a class="nav-link active" href="#about-brand">VỀ THƯƠNG HIỆU</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about-system">HỆ THỐNG</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#register-form">VÌ SAO CHỌN DUCKKING</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#collaborate">QUY TRÌNH HỢP TÁC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#partners">ĐỐI TÁC</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- CAROUSEL -->
    <section class="slide-desktop">
      <div id="carouselContent" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselContent"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselContent"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselContent"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <div class="carousel-image">
              <div class="carousel-dark-background"></div>
              <img
                src="/images/thiet-ke-quan-tra-sua-nho-gia-re-1.webp"
                class="d-block w-100"
                alt="slide1"
              />
            </div>
            <div
              class="carousel-caption d-none d-md-block"
              style="margin-bottom: 155px"
            >
              <label class="slide-label"
                >Nhượng quyền thương hiệu trà sữa hàng đầu Duck King
              </label>
              <p class="slide-description">
                CƠ HỘI LÀM CHỦ - HỢP LỰC THÀNH CÔNG
              </p>
              <a
                href="#about-brand"
                class="btn btn-slide carousel-btn"
                style="background-color: var(--topicColor)"
              >
                XEM THÊM
              </a>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <div class="carousel-image">
              <div class="carousel-dark-background"></div>
              <img
                src="/images/tong-hop-cac-quan-tra-sua-ngon-va-dong-khach-nhat-o-quan-6-202107071256415926.jpg"
                class="d-block w-100"
                alt="slide2"
              />
            </div>
            <div
              class="carousel-caption d-none d-md-block"
              style="margin-bottom: 155px"
            >
              <label class="slide-label"
                >Nhượng quyền thương hiệu trà sữa hàng đầu Duck King
              </label>
              <p class="slide-description">
                CƠ HỘI LÀM CHỦ - HỢP LỰC THÀNH CÔNG
              </p>
              <a
                href="#about-brand"
                class="btn btn-slide carousel-btn"
                style="background-color: var(--topicColor)"
              >
                XEM THÊM
              </a>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <div class="carousel-image">
              <div class="carousel-dark-background"></div>
              <img
                src="/images/thiet-ke-quan-tra-sua-dep-mat.jpg"
                class="d-block w-100"
                alt="slide3"
              />
            </div>
            <div
              class="carousel-caption d-none d-md-block"
              style="margin-bottom: 155px"
            >
              <label class="slide-label"
                >Nhượng quyền thương hiệu trà sữa hàng đầu Duck King
              </label>
              <p class="slide-description">
                CƠ HỘI LÀM CHỦ - HỢP LỰC THÀNH CÔNG
              </p>
              <a
                href="#about-brand"
                class="btn btn-slide carousel-btn"
                style="background-color: var(--topicColor)"
              >
                XEM THÊM
              </a>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselContent"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselContent"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

    <!-- CONTAINER -->
    <div id="pageContent">
      <main class="main-content" role="main">
        <!-- ABOUT BRAND -->
        <section id="about-brand">
          <h3 class="main-title">Về thương hiệu</h3>
          <div class="container">
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-8">
                <div class="grid-brand">
                  <div class="grid-brand-item">
                    <label class="title-right">Tổng quan</label>
                    <div class="content-right">
                      <p>
                        Được thành lập từ năm 2022 đến nay Duck King đã trở
                        thành thương hiệu được ưu ái với tên gọi "trà sữa quốc
                        dân". Với rất nhiều cửa hàng đang hoạt động ở nhiều tỉnh
                        và thành phố trên cả nước.
                      </p>
                    </div>
                  </div>
                  <div class="grid-brand-item">
                    <div class="content-img-left">
                      <img
                        src="/images/foody-funtea-962-636765871581204544.jpg"
                        alt="01. Tong quan"
                      />
                    </div>
                  </div>
                  <div class="grid-brand-item">
                    <div class="content-img-right">
                      <img
                        src="/images/mau-thiet-ke-quan-tra-sua-dep-an-tuong-2.jpg"
                        alt="02. Tam nhin"
                      />
                    </div>
                  </div>
                  <div class="grid-brand-item">
                    <label class="title-left">Tầm nhìn</label>
                    <div class="content-left">
                      <p>
                        Duck King luôn tâm huyết và Duck King tự hào là thương
                        hiệu trà sữa tiên phong sử dụng nguồn nông sản Việt Nam
                        với các chi nhánh trên toàn quốc và khát vọng mang
                        thương hiệu trà sữa làm từ nông sản Việt vươn ra thế
                        giới.
                      </p>
                    </div>
                  </div>
                  <div class="grid-brand-item">
                    <label class="title-right">Sứ mệnh</label>
                    <div class="content-right">
                      <p>
                        Duck King tự tin mang lại hương vị cuộc sống trọn vẹn
                        cho khách hàng, lợi nhuận bền vững lâu dài cho nhà đầu
                        tư và góp phần phát triển nền nông nghiệp Việt Nam.
                      </p>
                    </div>
                  </div>
                  <div class="grid-brand-item">
                    <div class="content-img-left">
                      <img
                        src="/images/tra-sua-cafe-avatar-q7.jpg"
                        alt="03. Su menh"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-2"></div>
            </div>
          </div>
        </section>

        <!-- ABOUT SYSTEM -->
        <section id="about-system">
          <h3 class="main-title" style="margin-bottom: 160px">
            Về hệ thống nhượng quyền
          </h3>
          <div class="container">
            <div class="row about-system-bg-content">
              <div class="col-sm-2"></div>
              <div class="col-sm-8">
                <div class="row">
                  <div class="col-sm-4">
                    <img
                      class="about-system-img"
                      src="/images/coffehouse.webp"
                      alt="01. About System"
                    />
                    <div class="about-system-container">
                      <p class="about-system-title">Trải qua hơn</p>
                      <p class="about-system-spotlight">2 Năm</p>
                      <p class="about-system-description">
                        Hình thành xây dựng & phát triển
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <img
                      class="about-system-img"
                      src="/images/trang_tri_dep.jpg"
                      alt="02. About System"
                    />
                    <div class="about-system-container">
                      <p class="about-system-title">Duck King đã có mặt</p>
                      <p class="about-system-spotlight">48/63 Tỉnh</p>
                      <p class="about-system-description">
                        Thành phố trong cả nước với gần 400 cửa hàng
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <img
                      class="about-system-img"
                      src="/images/tra-sua-cafe-avatar-q7.jpg"
                      alt="03. About System"
                    />
                    <div class="about-system-container">
                      <p class="about-system-title">Số cửa hàng</p>
                      <p class="about-system-spotlight">Nhượng quyền</p>
                      <p class="about-system-description">
                        Duck King đang
                        <b>chiếm tỉ trọng 70%</b> với <b>gần 400 cửa hàng</b> và
                        con số này vẫn không ngừng phát triển
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-2"></div>
            </div>
          </div>
        </section>

        <!-- OPENING ACTIVITIES -->
        <section id="opening-activities" style="margin-bottom: 80px">
          <h3 class="main-title">Hoạt động khai trương các đại lý</h3>
          <div class="container">
            <div class="grid">
              <div class="grid-col-1">
                <div class="grid-item" style="width: 392px; height: 260px">
                  <iframe
                    className="video"
                    title="video"
                    src="https://www.youtube.com/embed/NRJ8rdJqzIc"
                    allowFullScreen
                    width="100%"
                    height="100%"
                  ></iframe>
                </div>
                <div class="grid-item" style="width: 392px; height: 260px">
                  <iframe
                    className="video"
                    title="video"
                    src="https://www.youtube.com/embed/Gzm5XJkFn1Q"
                    allowFullScreen
                    width="100%"
                    height="100%"
                  ></iframe>
                </div>
              </div>
              <div class="grid-col-2">
                <div class="grid-item" style="width: 392px; height: 260px">
                  <iframe
                    className="video"
                    title="video"
                    src="https://www.youtube.com/embed/t8k71QcArnk"
                    allowFullScreen
                    width="100%"
                    height="100%"
                  ></iframe>
                </div>
                <div class="grid-item" style="width: 392px; height: 260px">
                  <iframe
                    className="video"
                    title="video"
                    src="https://www.youtube.com/embed/TT9wIWPlOYs"
                    allowFullScreen
                    width="100%"
                    height="100%"
                  ></iframe>
                </div>
              </div>
              <div class="grid-col-3">
                <div class="grid-item" style="width: 392px; height: 260px">
                  <iframe
                    className="video"
                    title="video"
                    src="https://www.youtube.com/embed/lmeuX7zIdX0"
                    allowFullScreen
                    width="100%"
                    height="100%"
                  ></iframe>
                </div>
                <div class="grid-item" style="width: 392px; height: 260px">
                  <iframe
                    className="video"
                    title="video"
                    src="https://www.youtube.com/embed/Z6Dx-o3vfJY"
                    allowFullScreen
                    width="100%"
                    height="100%"
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- REGISTER PHONE -->
        <section id="register-phone">
          <div class="register-phone-area">
            <div class="container">
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                  <label class="rpa-title">ĐĂNG KÝ ĐỂ NHẬN ƯU ĐÃI</label>
                  <p>
                    Đăng ký ngay để được nhận
                    <label class="rpa-spot">160 triệu</label>
                    phí nhượng quyền
                  </p>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control rpa-phone"
                      placeholder="Nhập số điện thoại..."
                      aria-label="Nhập số điện thoại..."
                    />
                    <button
                      class="btn btn-outline-secondary rpa-submit"
                      type="button"
                    >
                      ĐĂNG KÝ NGAY
                    </button>
                  </div>
                </div>
                <div class="col-sm-4"></div>
              </div>
            </div>
          </div>
        </section>

        <!-- COLLABORATE -->
        <section id="collaborate">
          <h3 class="main-title">Quy trình hợp tác</h3>
          <div class="container">
            <div class="row text-center">
              <div class="col-sm-3">
                <img
                  class="colla-item"
                  src="/images/collaimg1.png"
                  alt="dang-ky-tu-van"
                />
              </div>
              <div class="col-sm-3">
                <label class="colla-lbl">1</label>
                <p class="colla-title">ĐĂNG KÝ TƯ VẤN</p>
                <p class="colla-description">Gửi thông tin liên hệ theo form</p>
              </div>
              <div class="col-sm-3">
                <label class="colla-lbl">2</label>
                <p class="colla-title">GẶP GỠ TƯ VẤN</p>
                <p class="colla-description">
                  Chúng tôi sẽ liên hệ tư vấn nhanh chóng trong vòng 24h
                </p>
              </div>
              <div class="col-sm-3">
                <img
                  class="colla-item"
                  src="/images/collaimg2.png"
                  alt="gap-go-tu-van"
                />
              </div>

              <div class="col-sm-3">
                <img
                  class="colla-item"
                  src="/images/collaimg3.png"
                  alt="khao-sat"
                />
              </div>
              <div class="col-sm-3">
                <label class="colla-lbl">3</label>
                <p class="colla-title">KHẢO SÁT</p>
                <p class="colla-description">Tiến hành khảo sát địa điểm</p>
              </div>
              <div class="col-sm-3">
                <label class="colla-lbl">4</label>
                <p class="colla-title">KÝ HỢP ĐỒNG</p>
                <p class="colla-description">
                  Ký hợp đồng nhượng quyền, nhà đầu tư thanh toán phí nhượng
                  quyền.
                </p>
              </div>
              <div class="col-sm-3">
                <img
                  class="colla-item"
                  src="/images/collaimg4.png"
                  alt="ky-hop-dong"
                />
              </div>

              <div class="col-sm-3">
                <img
                  class="colla-item"
                  src="/images/collaimg5.png"
                  alt="setup-nhuong-quyen"
                />
              </div>
              <div class="col-sm-3">
                <label class="colla-lbl">5</label>
                <p class="colla-title">SETUP NHƯỢNG QUYỀN</p>
                <p class="colla-description">
                  Chúng tôi sẽ tư vấn thiết kế và đồng hành cùng đối tác trong
                  suốt quá trình xây dựng cửa hàng, đào tạo nhân sự, trang bị
                  công cụ, dụng cụ và nhập nguyên liệu
                </p>
              </div>
              <div class="col-sm-3">
                <label class="colla-lbl">6</label>
                <p class="colla-title">VẬN HÀNH HOẠT ĐỘNG</p>
                <p class="colla-description">
                  Đảm bảo khai trương suôn sẻ, đi vào hoạt động. Hỗ trợ tư vấn
                  vận hành và phát triển kinh doanh sau khai trương
                </p>
              </div>
              <div class="col-sm-3">
                <img
                  class="colla-item"
                  src="/images/collaimg6.png"
                  alt="van-hanh-hoat-dong"
                />
              </div>
            </div>
          </div>
        </section>

        <!-- REGISTER FORM -->
        <section id="register-form">
          <h3 class="main-title">Chương trình ưu đãi tháng</h3>
          <div class="container">
            <div class="row padding-10">
              <div class="col-sm-6">
                <img
                  src="/images/ct_uudai.jpeg"
                  class="width-100"
                  alt="co-hoi-trao-tay"
                />
                <label class="rf-title"
                  >Cơ hôi trao tay - Có ngay cơ nghiệp</label
                >
                <div class="register-description">
                  Với Gói Nhượng quyền khởi nghiệp, Duck King dành tặng Nhà Đầu
                  Tư nhiều ưu đãi độc quyền. Không chỉ vậy, sự hỗ trợ nhanh
                  chóng bằng mọi nguồn lực từ Duck King sẽ giúp hệ thống cửa
                  hàng hoạt động ổn định, phát triển nhanh chóng và thu lợi
                  nhuận bền vững trong tương lai.
                  <p>
                    Duck King trao bạn cơ hội hợp tác kinh doanh với nhiều ưu
                    đãi:
                    <br />
                    👉 Chỉ từ 300 triệu bạn sẽ sở hữu mô hình kinh doanh chuyên
                    nghiệp
                    <br />
                    👉 Miễn phí nhượng quyền
                    <br />
                    👉 Tặng 40 triệu khi ký hợp đồng
                    <br />
                    👉 Tư vấn setup trọn gói từ A đến Z
                    <br />
                    👉 Miễn phí chi phí Marketing - Kết nối khách hàng đa kênh.
                  </p>
                </div>
              </div>
              <div id="frm-register" class="col-sm-6 rf-all-area">
                <form>
                  <h3 class="rf-main-title">Đăng ký thông tin</h3>
                  <div class="mb-3">
                    <label for="txtFullName" class="form-label"
                      >Họ và tên</label
                    >
                    <input type="text" class="form-control" id="txtFullName" />
                  </div>
                  <div class="mb-3">
                    <label for="txtEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="txtEmail" />
                  </div>
                  <div class="mb-3">
                    <label for="txtPhone" class="form-label"
                      >Nhập số điện thoại</label
                    >
                    <input type="tel" class="form-control" id="txtPhone" />
                  </div>
                  <div class="mb-3">
                    <label for="txtAddress" class="form-label"
                      >Địa chỉ khu vực bạn muốn mở cửa hàng</label
                    >
                    <textarea class="form-control" id="txtAddress"></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="slcInvestment" class="form-label"
                      >Khoản vốn tối đa có thể đầu tư</label
                    >
                    <select class="form-select" id="slcInvestment">
                      <option value="0" selected>
                        --Lựa chọn khoảng vốn đầu tư--
                      </option>
                      <option value="300 triệu - 500 triệu">
                        300 triệu - 500 triệu
                      </option>
                      <option value="500 triệu - 700 triệu">
                        500 triệu - 700 triệu
                      </option>
                      <option value="700 triệu - 1 tỷ">700 triệu - 1 tỷ</option>
                      <option value="Trên 1 tỷ">Trên 1 tỷ</option>
                    </select>
                  </div>
                  <button
                    type="button"
                    id="btnSlSubmit"
                    class="btn btn-rf-info"
                  >
                    Gửi thông tin
                  </button>
                </form>
              </div>
            </div>
          </div>
        </section>

        <!-- CUSTOMER SATISFACTION -->
        <section id="customer-satisfaction">
          <h3 class="main-title">Khách hàng nói gì về Duck King</h3>
          <div class="container">
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-8" style="height: 500px">
                <iframe
                  className="video"
                  title="video"
                  src="https://www.youtube.com/embed/Z6Dx-o3vfJY"
                  allowFullScreen
                  width="100%"
                  height="100%"
                ></iframe>
              </div>
              <div class="col-sm-2"></div>

              <div class="col-sm-3"></div>
              <div class="col-sm-6">
                <h3 class="cusa-title">
                  Con đường khởi nghiệp của Trà sữa Duck King
                </h3>
                <p class="cusa-description">
                  Với sứ mệnh mang tới những trải nghiệp trọn vị hạnh phúc cho
                  khách hàng, Duck King mong muốn tạo nên một nét văn hóa thưởng
                  thức trà sữa cùng với những ly đồ uống Ngon - Sạch - Tươi
                </p>
              </div>
              <div class="col-sm-3"></div>
            </div>
          </div>
        </section>

        <!-- PARTNERS -->
        <section id="partners">
          <h3 class="main-title" style="margin-bottom: 20px">
            Đối tác của chúng tôi
          </h3>
          <div class="container">
            <div class="row padding-10">
              <div class="col-sm-12 partners-type">Delivery</div>
              <div class="col-sm-2"></div>
              <div class="col-sm-8">
                <div class="row">
                  <div class="col-3 prt-items">
                    <img src="/images/gojek.jpeg" alt="gojek" />
                  </div>
                  <div class="col-3 prt-items">
                    <img src="/images/shopeefood.jpeg" alt="shopeefood" />
                  </div>
                  <div class="col-3 prt-items">
                    <img src="/images/grab.jpeg" alt="grab" />
                  </div>
                  <div class="col-3 prt-items">
                    <img src="/images/baemin.jpeg" alt="baemin" />
                  </div>
                  <div class="col-3 prt-items">
                    <img src="/images/driver.jpeg" alt="driver" />
                  </div>
                  <div class="col-3 prt-items">
                    <img src="/images/jamja.jpeg" alt="jamja" />
                  </div>
                  <div class="col-3 prt-items">
                    <img src="/images/meete.jpeg" alt="meete" />
                  </div>
                  <div class="col-3 prt-items">
                    <img
                      src="/images/nowfood.png"
                      alt="meete"
                      height="100%"
                      style="object-fit: cover"
                    />
                  </div>
                </div>
              </div>
              <div class="col-sm-2"></div>

              <div class="col-sm-12 partners-type">E-Wallet</div>
              <div class="col-2"></div>
              <div class="col-8">
                <div class="row">
                  <div class="col-4 prt-items">
                    <img src="/images/momo.jpeg" alt="momo" />
                  </div>
                  <div class="col-4 prt-items">
                    <img src="/images/vnpay.jpeg" alt="vnpay" />
                  </div>
                  <div class="col-4 prt-items">
                    <img src="/images/zalopay.jpeg" alt="zalopay" />
                  </div>
                </div>
              </div>
              <div class="col-2"></div>
            </div>
          </div>
        </section>
      </main>
      <%- include('../partials/footer'); %>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>

    <%-include('../partials/link_js.ejs')%>

    <script>
      $('.nav-link').on('click', function () {
        $('.nav-link.active').removeClass('active');
        $(this).addClass('active');
      });
      var myCarousel = document.querySelector('#myCarousel');
      var carousel = new bootstrap.Carousel(myCarousel);
    </script>
  </body>
</html>
