<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Lịch sử và sứ mệnh</title>
        <link rel="stylesheet" href="/css/introduce.css" />
    </head>
    <body>
        <%- include('../partials/header', {userFName}); %>
        <div class="topgioithieu">
            <div class="darkBG"></div>
            >
            <div class="gioithieu"></div>
            <div class="gioithieu-text">Giới thiệu</div>
        </div>
        <div class="gioithieund">
            <p class="gioithieudau">Giới thiệu</p>
            <p>
                Luôn tâm huyết với việc khai thác nguồn nông sản Việt Nam để tạo
                ra những ly thức uống tươi ngon, an toàn và giàu giá trị dinh
                dưỡng, ToCoToCo mở cửa hàng đầu tiên vào năm 2013, mang trong
                mình lòng đam mê và khát vọng xây dựng một thương hiệu trà sữa
                thuần Việt, mang đậm hương vị quê hương. ToCoToCo tin rằng
                thưởng thức một ly trà sữa được phá chế từ trà Mộc Châu, trân
                châu sắn dây Nghệ An hay mứt dâu tằm từ Đà Lạt sẽ là những trải
                nghiệm hoàn toàn khác biệt và tuyệt vời nhất cho những khách
                hàng của mình.
            </p>
            <p>
                Cũng chính từ sự khác biệt đó, thương hiệu ToCoToCo đã có những
                bước phát triển thần tốc và dần chiếm lĩnh thị trường trà sữa
                với hơn 200 cửa hàng trải dài trên toàn quốc. Cột mốc năm 2018
                đánh dấu ước mơ vươn xa biển lớn của thương hiệu khi ToCoToCo
                chính thức đặt chân lên nước Mỹ và tiếp nối thành công tại Úc,
                Nhật Bản, Hàn Quốc, Singapore,...
            </p>
            <p>
                Hành trình đầy đam mê và tâm huyết này sẽ tiếp tục nhân rộng để
                lan tỏa những ly trà thuần khiết nông sản Việt đến mọi miền trên
                Việt Nam và thế giới.
            </p>
            <div style="text-align: center; margin: 50px">
                <img
                    src="../images/1.webp"
                    alt=""
                    style="width: 900px; height: 500px"
                />
            </div>
            <div style="text-align: center">
                <img
                    src="../images/2.webp"
                    alt=""
                    style="width: 900px; height: 500px"
                />
            </div>
        </div>
        <%- include('../partials/footer'); %>
    </body>
</html>
