<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tạo sản phẩm</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <link
            rel="icon"
            href="/images/favicon_io/favicon.ico"
            type="image/x-icon"
        />
    </head>
    <body>
        <%-include('../../partials/header')%>
        <div class="user-banner" style="height: 300px; position: relative">
            <div
                class="darklayout"
                style="
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.801);
                    z-index: -1;
                "
            ></div>
            <img
                style="
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    z-index: -2;
                "
                src="/images/myorderbanner.jpeg"
                alt=""
            />
            <h1 style=" width: 100%;
                text-align: center;
                color: var(--topicColor);
                position: absolute;
                top: 200px;">
                TẠO SẢN PHẨM MỚI
            </h1>
        </div>
        <div style="min-height: 600px;
            background: url('/images/productsbg.png');
            padding-top: 20px;
            padding-bottom: 30px;">
            <div
                style="
                    width: 100%;
                    text-align: left;
                    padding-left: 20px;
                    margin-top: 20px;
                "
            >
                <a href="/products/admin" style="color: var(--topicColor);">
                    <i class="fa-solid fa-arrow-left"></i>
                    Danh sách sản phẩm
                </a>
            </div>
            
            <div class="col-md-10" style="margin: auto; margin-top: 30px; padding: 20px; background-color: transparent; color: var(--topicColor);">
                <form
                    class="row g-3 needs-validation product-form"
                    novalidate
                    method="POST"
                    action="/products/admin"
                >
                    <div class="mb-3 col-8">
                        <label for="formFileSm" class="form-label"
                            >Ảnh sản phẩm*</label
                        >
                        <input
                            class="form-control form-control-sm"
                            id="formFileSm"
                            type="file"
                            name="image"
                        />
                    </div>
                    <div
                        class="preview col-4 justify-content-center"
                        style="display: flex"
                    ></div>
                    <div class="col-md-4">
                        <label for="validationCustom01" class="form-label"
                            >Tên*</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="validationCustom01"
                            name="name"
                            required
                        />
                        <div class="invalid-feedback">Cần có tên sản phẩm</div>
                    </div>
    
                    <div class="col-md-4">
                        <label for="validationCustom02" class="form-label"
                            >Giá*</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="validationCustom02"
                            name="price"
                        />
                    </div>
    
                    <div class="col-md-4">
                        <label for="validationCustom03" class="form-label"
                            >Thể loại</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="validationCustom03"
                            name="category"
                        />
                    </div>
    
                    <div class="mb-3">
                        <label for="validationTextarea" class="form-label"
                            >Mô tả</label
                        >
                        <textarea
                            class="form-control"
                            id="validationTextarea"
                            name="description"
                        ></textarea>
                    </div>
    
                    <div class="col-12" style="text-align: right;">
                        <button class="btn" style="background-color: var(--topicColor); color: #fff;" type="submit">Tạo</button>
                    </div>
                </form>
            </div>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>

        <script>
            const productForm = document.querySelector('.product-form');

            productForm.addEventListener('submit', async function (e) {
                e.preventDefault();
                //  document
                // .getElementById("btn-create")
                // .addEventListener("click", async () => {
                const name = document.querySelector("[name='name']");
                const price = document.querySelector("[name='price']");
                const category = document.querySelector("[name='category']");
                const description = document.querySelector(
                    "[name='description']"
                );
                const image = document.querySelector("[name='image']");
                const data = new FormData();
                // console.log(documents.files);
                data.append('image', image.files[0]);
                data.append('name', name.value);
                data.append('price', price.value);
                data.append('category', category.value);
                data.append('description', description.value);

                try {
                    let result = await (
                        await fetch('/products/admin', {
                            method: 'POST',
                            body: data,
                        })
                    ).json();
                    // console.log(result);
                    if (!result.name) {
                        Swal.fire({
                            title: 'Lỗi!',
                            text: 'Tạo sản phẩm thất bại!',
                            icon: 'error',
                            confirmButtonText: 'OK',
                        });
                    } else {
                        Swal.fire({
                            title: 'Thành công',
                            text: 'Tạo sản phẩm thành công!',
                            icon: 'success',
                            confirmButtonText: 'OK',
                        });
                        name.value = '';
                        price.value = '';
                        category.value = '';
                        description.value = '';
                        image.value = '';
                    }
                } catch (error) {
                    Swal.fire({
                        title: 'Lỗi!',
                        text: 'Tạo sản phẩm thất bại!',
                        icon: 'error',
                        confirmButtonText: 'OK',
                    });
                }
            });

            // preview image
            const ipnFileElement = document.querySelector("[name='image']");
            const resultElement = document.querySelector('.preview');
            const validImageTypes = ['image/gif', 'image/jpeg', 'image/png', 'image/webp'];

            ipnFileElement.addEventListener('change', function (e) {
                const files = e.target.files;
                const file = files[0];
                const fileType = file['type'];

                if (!validImageTypes.includes(fileType)) {
                    resultElement.insertAdjacentHTML(
                        'beforeend',
                        '<div class="preview-img" style="color: red; margin-top: 30px">Hãy chọn ảnh!</div>'
                    );
                    return;
                }

                const fileReader = new FileReader();
                fileReader.readAsDataURL(file);

                fileReader.onload = function () {
                    const url = fileReader.result;
                    resultElement.innerHTML = 
                        `<img
                        style="
                            width: 150px;
                            height: 150px;
                            object-fit: cover;
                            border: 1px black solid;
                        "
                        src="${url}"
                        alt="${file.name}"
                    />`
                };
            });
        </script>
    </body>
</html>
