.u-section-1 {
  background-image: url("/images/foody-funtea-962-636765871581204544-53.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 725px;
}

.u-section-1 .u-text-1 {
  font-size: 4.375rem;
  font-weight: 700;
  box-shadow: 0px 0px 0 0 rgba(0, 0, 0, 0);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 72px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-shadow: 0px 0px 22px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 0 0 rgba(0, 0, 0, 0);
  text-transform: uppercase;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 74px auto 0 74px;
}

.u-section-1 .u-gallery-1 {
  height: 348px;
  width: 692px;
  margin: 42px auto 60px 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 598px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 893px;
  }

  .u-section-1 .u-gallery-1 {
    height: 783px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2554px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-gallery-1 {
    height: 2444px;
    width: 540px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1649px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-gallery-1 {
    height: 1539px;
    width: 340px;
  }
}
.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 555px;
}

.u-section-2 .u-group-1 {
  width: 351px;
  min-height: 435px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  margin: 28px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  font-style: normal;
  margin: 20px 104px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  font-style: normal;
  padding: 0;
}

.u-section-2 .u-list-1 {
  width: 752px;
  grid-template-rows: repeat(3, auto);
  margin: -408px 0 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 382px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-image-1 {
  width: 145px;
  height: 145px;
  background-image: url("/images/delicious-ice-cream_144627-19528.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  text-transform: none;
  font-size: 1.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-image-2 {
  width: 145px;
  height: 145px;
  background-image: url("/images/girl-holding-beautiful-appetizing-ice-cream-cup-with-many-ice-cream-scoops-closeup_1220-1823.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  text-transform: none;
  font-size: 1.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-2 .u-image-3 {
  width: 145px;
  height: 145px;
  background-image: url("/images/ice-cream_144627-17284.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  text-transform: none;
  font-size: 1.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-2 .u-text-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 40px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-2 .u-group-1 {
    width: 257px;
    min-height: 506px;
    margin-top: 31px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-3 {
    margin-right: 64px;
  }

  .u-section-2 .u-list-1 {
    width: 676px;
    margin-top: -455px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 403px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1125px;
  }

  .u-section-2 .u-group-1 {
    min-height: 324px;
    margin-top: 41px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-list-1 {
    margin-top: 0;
    margin-bottom: 41px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1347px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 28px;
    margin-bottom: 40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 915px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1425px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 992px;
  }
}
.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1020px;
}

.u-section-3 .u-shape-1 {
  width: 94px;
  height: 94px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0 40px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1081px;
  margin: 24px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 559px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 40px;
}

.u-section-3 .u-text-1 {
  font-family: Montserrat, sans-serif;
  text-transform: none;
  font-weight: 400;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  margin: 30px 0 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 400;
  margin: 30px auto 0 0;
  padding: 20px 47px 20px 46px;
}

.u-section-3 .u-image-1 {
  min-height: 559px;
  background-image: url("/images/tra-sua-la-gi-top-hop-15-cach-lam-tra-sua-truyen-thong-de-kinh-doanh-8.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 70px 0 0;
}

.u-section-3 .u-shape-2 {
  width: 228px;
  height: 228px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -100px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 887px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 486px;
  }

  .u-section-3 .u-image-1 {
    min-height: 551px;
    background-position: 30.69% 50%;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -117px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 680px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 14px 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 542px;
    background-position: 40.5% 50%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-3 .u-shape-2 {
    width: 193px;
    height: 193px;
    margin-top: -114px;
    margin-bottom: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1251px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 52px;
    margin-left: 10px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 486px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 40px 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 455px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-shape-2 {
    width: 206px;
    height: 206px;
    margin-bottom: 52px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1101px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 46px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 310px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 313px;
  }

  .u-section-3 .u-shape-2 {
    width: 147px;
    height: 147px;
    margin-bottom: 46px;
  }
}
.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-shape-1 {
  height: 803px;
  width: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.25);
  margin: 85px auto 0 378px;
}

.u-section-4 .u-image-1 {
  height: 660px;
  width: 477px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
  margin: -741px auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 598px;
  min-height: 483px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
  height: auto;
  margin: -365px 0 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 50px 30px 40px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 32px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 32px auto 0 0;
  padding: 20px 47px 21px 46px;
}

.u-section-4 .u-group-2 {
  min-height: 297px;
  width: 417px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
  margin: -922px 179px 60px auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-4 .u-text-3 {
  font-weight: 300;
  letter-spacing: 4px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  margin: 0 auto 0 1px;
}

.u-section-4 .u-text-4 {
  font-weight: 300;
  text-transform: none;
  margin: 16px 0 0 1px;
}

.u-section-4 .u-text-5 {
  letter-spacing: 1px;
  margin: 22px 1px 0;
}

.u-section-4 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1160px;
  }

  .u-section-4 .u-shape-1 {
    height: 787px;
    width: 278px;
    margin-left: auto;
  }

  .u-section-4 .u-image-1 {
    height: 661px;
    width: 443px;
  }

  .u-section-4 .u-group-1 {
    width: 439px;
    min-height: 547px;
    height: auto;
  }

  .u-section-4 .u-group-2 {
    min-height: 326px;
    width: 381px;
    margin-right: 58px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1243px;
  }

  .u-section-4 .u-image-1 {
    height: 671px;
    width: 423px;
  }

  .u-section-4 .u-group-1 {
    width: 381px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-4 .u-group-2 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1283px;
  }

  .u-section-4 .u-shape-1 {
    height: 923px;
    width: 400px;
  }

  .u-section-4 .u-image-1 {
    height: 566px;
    width: 377px;
  }

  .u-section-4 .u-group-2 {
    min-height: 277px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1392px;
  }

  .u-section-4 .u-shape-1 {
    width: 294px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 422px;
    width: 290px;
  }

  .u-section-4 .u-group-1 {
    width: 290px;
    min-height: 642px;
    margin-top: -175px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-group-2 {
    min-height: 299px;
    width: 257px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }
}
.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 423px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-5 .u-line-1 {
  width: 100px;
  height: 3px;
  transform-origin: right center;
  margin: 30px auto 0;
}

.u-section-5 .u-text-2 {
  width: 640px;
  line-height: 2;
  margin: 30px auto 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-size: 1.875rem;
  letter-spacing: 1px;
  margin: 30px auto 60px;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}
.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 805px;
}

.u-section-6 .u-shape-1 {
  width: 228px;
  height: 228px;
  background-image: none;
  margin: 60px 62px 0 auto;
}

.u-section-6 .u-image-1 {
  height: 489px;
  width: 576px;
  object-position: 50% 9.57%;
  margin: -125px auto 0 387px;
}

.u-section-6 .u-group-1 {
  width: 385px;
  min-height: 478px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
  height: auto;
  margin: -386px auto 60px 62px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  border-style: solid;
  font-weight: 400;
  margin: 30px auto 0 0;
  padding: 14px 38px 15px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    margin-top: -121px;
    margin-right: 114px;
    margin-left: auto;
  }

  .u-section-6 .u-group-1 {
    margin-top: -389px;
    margin-left: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-image-1 {
    width: 404px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-shape-1 {
    width: 155px;
    height: 155px;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    width: 312px;
    margin-top: -77px;
    margin-right: 53px;
  }

  .u-section-6 .u-group-1 {
    width: 312px;
    margin-top: -359px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-6 .u-shape-1 {
    margin-right: -36px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 0;
  }

  .u-section-6 .u-group-1 {
    width: 249px;
    min-height: 513px;
    margin-top: -298px;
  }
}
