<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Hệ thống cửa hàng</title>
        <link rel="stylesheet" href="/css/stores.css" />
        <link
            rel="icon"
            href="/images/favicon_io/favicon.ico"
            type="image/x-icon"
        />
        <script
            src="https://kit.fontawesome.com/92599c8cb3.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <%- include('../partials/header'); %>
        <div class="header-news">
            <div>Chi nhánh</div>
        </div>
        <div>
            <div class="system-shop">
                <div class="system-shop1">
                    <i class="fa-solid fa-house-chimney"></i>
                </div>
                <div class="system-shop2">|</div>
                <div class="system-shop3">HỆ THỐNG CỬA HÀNG</div>
            </div>
            <div class="system-list">
                <select class="list">
                    <option value="">Tìm cửa hàng theo quận</option>
                    <option value="Ba Đình">Ba Đình</option>
                    <option value="Bắc Từ Liêm">Bắc Từ Liêm</option>
                    <option value="Cầu Giấy">Cầu Giấy</option>
                    <option value="Đống Đa">Đống Đa</option>
                    <option value="Hà Đông">Hà Đông</option>
                    <option value="Hai Bà Trưng">Hai Bà Trưng</option>
                    <option value="Hoàn Kiếm">Hoàn Kiếm</option>
                    <option value="Hoàng Mai">Hoàng Mai</option>
                    <option value="Long Biên">Long Biên</option>
                    <option value="Nam Từ Liêm">Nam Từ Liêm</option>
                    <option value="Tây Hồ">Tây Hồ</option>
                    <option value="Thanh Xuân">Thanh Xuân</option>
                </select>
            </div>
            <div class="content">
                <div class="loaded">
                    <div class="lazy-loaded">
                        <div>
                            <img src="/images/sua-chua-trang-.png" alt="" />
                        </div>
                        <div><h3>TOCOTOCO Nguyễn Chí Khanh</h3></div>
                        <div>122 Nguyễn Chí Khanh</div>
                        <div>0139843948</div>
                        <div>9:00 - 21:00</div>
                        <div>
                            <a href=""
                                ><button class="button-street">
                                    Tìm đường
                                </button></a
                            >
                        </div>
                    </div>
                    <div class="lazy-loaded">
                        <div>
                            <img src="/images/sua-chua-trang-.png" alt="" />
                        </div>
                        <div><h3>TOCOTOCO Nguyễn Chí Khanh</h3></div>
                        <div>122 Nguyễn Chí Khanh</div>
                        <div>0139843948</div>
                        <div>9:00 - 21:00</div>
                        <div>
                            <a href=""
                                ><button class="button-street">
                                    Tìm đường
                                </button></a
                            >
                        </div>
                    </div>
                    <div class="lazy-loaded">
                        <div>
                            <img src="/images/sua-chua-trang-.png" alt="" />
                        </div>
                        <div><h3>TOCOTOCO Nguyễn Chí Khanh</h3></div>
                        <div>122 Nguyễn Chí Khanh</div>
                        <div>0139843948</div>
                        <div>9:00 - 21:00</div>
                        <div>
                            <a href=""
                                ><button class="button-street">
                                    Tìm đường
                                </button></a
                            >
                        </div>
                    </div>
                </div>
                <div class="loaded">
                    <div class="lazy-loaded">
                        <div>
                            <img src="/images/sua-chua-trang-.png" alt="" />
                        </div>
                        <div><h3>TOCOTOCO Nguyễn Chí Khanh</h3></div>
                        <div>122 Nguyễn Chí Khanh</div>
                        <div>0139843948</div>
                        <div>9:00 - 21:00</div>
                        <div>
                            <a href=""
                                ><button class="button-street">
                                    Tìm đường
                                </button></a
                            >
                        </div>
                    </div>
                    <div class="lazy-loaded">
                        <div>
                            <img src="/images/sua-chua-trang-.png" alt="" />
                        </div>
                        <div><h3>TOCOTOCO Nguyễn Chí Khanh</h3></div>
                        <div>122 Nguyễn Chí Khanh</div>
                        <div>0139843948</div>
                        <div>9:00 - 21:00</div>
                        <div>
                            <a href=""
                                ><button class="button-street">
                                    Tìm đường
                                </button></a
                            >
                        </div>
                    </div>
                    <div class="lazy-loaded">
                        <div>
                            <img src="/images/sua-chua-trang-.png" alt="" />
                        </div>
                        <div><h3>TOCOTOCO Nguyễn Chí Khanh</h3></div>
                        <div>122 Nguyễn Chí Khanh</div>
                        <div>0139843948</div>
                        <div>9:00 - 21:00</div>
                        <div>
                            <a href=""
                                ><button class="button-street">
                                    Tìm đường
                                </button></a
                            >
                        </div>
                    </div>
                </div>
                <div class="loaded">
                    <div class="lazy-loaded">
                        <div>
                            <img src="/images/sua-chua-trang-.png" alt="" />
                        </div>
                        <div><h3>TOCOTOCO Nguyễn Chí Khanh</h3></div>
                        <div>122 Nguyễn Chí Khanh</div>
                        <div>0139843948</div>
                        <div>9:00 - 21:00</div>
                        <div>
                            <a href=""
                                ><button class="button-street">
                                    Tìm đường
                                </button></a
                            >
                        </div>
                    </div>
                    <div class="lazy-loaded">
                        <div>
                            <img src="/images/sua-chua-trang-.png" alt="" />
                        </div>
                        <div><h3>TOCOTOCO Nguyễn Chí Khanh</h3></div>
                        <div>122 Nguyễn Chí Khanh</div>
                        <div>0139843948</div>
                        <div>9:00 - 21:00</div>
                        <div>
                            <a href=""
                                ><button class="button-street">
                                    Tìm đường
                                </button></a
                            >
                        </div>
                    </div>
                    <div class="lazy-loaded">
                        <div>
                            <img src="/images/sua-chua-trang-.png" alt="" />
                        </div>
                        <div><h3>TOCOTOCO Nguyễn Chí Khanh</h3></div>
                        <div>122 Nguyễn Chí Khanh</div>
                        <div>0139843948</div>
                        <div>9:00 - 21:00</div>
                        <div>
                            <a href=""
                                ><button class="button-street">
                                    Tìm đường
                                </button></a
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="STT">
                <div class="STTone">1</div>
                <div class="STTone">2</div>
                <div class="STTone">3</div>
                <div class="STTone">4</div>
                <div class="STTone">5</div>
                <div class="STTone">Sau</div>
            </div>
        </div>
        <%- include('../partials/footer'); %>
    </body>
</html>
