<!DOCTYPE html>
<html style="font-size: 16px">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta
      name="keywords"
      content="Ice Cream Shop, Vanilla ice-cream, ​Ice cream &amp;amp; vegan ice cream, ​Ice cream delivery to all 50 states, Order Preparation, Contact Us"
    />
    <meta name="description" content="" />
    <meta name="page_type" content="np-template-header-footer-from-plugin" />
    <title>Tin tức</title>
    <link rel="stylesheet" href="/css/home/nicepage.css" media="screen" />
    <link rel="stylesheet" href="/css/news/Page-1.css" media="screen" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      href="/images/favicon_io/favicon.ico"
      type="image/x-icon"
    />
    <script
      class="u-script"
      type="text/javascript"
      src="/js/home/jquery.js"
      defer=""
    ></script>
    <script
      class="u-script"
      type="text/javascript"
      src="/js/home/nicepage.js"
      defer=""
    ></script>
    <meta name="generator" content="Nicepage 4.10.5, nicepage.com" />
    <link
      id="u-theme-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
    />
    <link
      id="u-page-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
    />

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": ""
      }
    </script>
    <meta name="theme-color" content="#478ac9" />
    <meta property="og:title" content="Page 1" />
    <meta property="og:type" content="website" />
  </head>
  <body class="u-body u-xl-mode">
    <%- include('../partials/header', {userFName, userRole}) %>
    <section
      class="u-align-left u-clearfix u-image u-section-1"
      src=""
      data-image-width="1500"
      data-image-height="1000"
      id="carousel_0269"
      style="position: relative;"
    >
    <div
                class="dark-layout"
                style="
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.6);
                "
            ></div>
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1
          class="u-text u-text-custom-color-6 u-text-default u-title u-text-1"
          data-animation-name="customAnimationIn"
          data-animation-duration="1500"
          data-animation-delay="500"
          style="margin-top: 90px; color: #fff !important;"
        >
          Tin tức
        </h1>
        <p
          class="u-text u-text-custom-color-9 u-text-default u-text-2"
          data-animation-name="customAnimationIn"
          data-animation-duration="1500"
          data-animation-delay="500"
        >
          Sản phẩm bán chạy
        </p>
        <div
          class="u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-none u-gallery-1"
        >
          <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-hover-zoom u-gallery-item">
              <div
                class="u-back-slide"
                data-image-width="960"
                data-image-height="960"
                style="border: 5px solid var(--topicColor); border-radius: 2px"
              >
                <img
                  class="u-back-image u-expanded"
                  src="/images/ezgif.com-gif-maker-19.png"
                />
              </div>
              <div class="u-over-slide u-shading u-over-slide-1">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-hover-zoom u-gallery-item">
              <div
                class="u-back-slide"
                data-image-width="960"
                data-image-height="960"
                style="border: 5px solid var(--topicColor); border-radius: 2px"
              >
                <img
                  class="u-back-image u-expanded"
                  src="/images/ezgif.com-gif-maker-8.png"
                />
              </div>
              <div class="u-over-slide u-shading u-over-slide-2">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-hover-zoom u-gallery-item">
              <div
                class="u-back-slide"
                data-image-width="960"
                data-image-height="960"
                style="border: 5px solid var(--topicColor); border-radius: 2px"
              >
                <img
                  class="u-back-image u-expanded"
                  src="/images/ezgif.com-gif-maker-11-48.png"
                />
              </div>
              <div class="u-over-slide u-shading u-over-slide-3">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-hover-zoom u-gallery-item">
              <div
                class="u-back-slide"
                data-image-width="960"
                data-image-height="960"
                style="border: 5px solid var(--topicColor); border-radius: 2px"
              >
                <img
                  class="u-back-image u-expanded"
                  src="/images/Hinh-anh-sp-website_ruby-.png"
                />
              </div>
              <div class="u-over-slide u-shading u-over-slide-4">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-hover-zoom u-gallery-item">
              <div
                class="u-back-slide"
                data-image-width="1000"
                data-image-height="1000"
                style="border: 5px solid var(--topicColor); border-radius: 2px"
              >
                <img
                  class="u-back-image u-expanded"
                  src="/images/Hinh-anh-sp-website_1000x1000_hong-tra-ngu-coc-kem-cafe.png"
                />
              </div>
              <div class="u-over-slide u-shading u-over-slide-5">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-hover-zoom u-gallery-item">
              <div
                class="u-back-slide"
                data-image-width="960"
                data-image-height="960"
                style="border: 5px solid var(--topicColor); border-radius: 2px"
              >
                <img
                  class="u-back-image u-expanded"
                  src="/images/ezgif.com-gif-maker-13.png"
                />
              </div>
              <div class="u-over-slide u-shading u-over-slide-6">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="u-clearfix u-palette-5-light-2 u-section-3"
      id="carousel_11ef"
    >
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div
          class="u-palette-1-base u-shape u-shape-circle u-shape-1"
          data-animation-name="customAnimationIn"
          data-animation-duration="1500"
          data-animation-delay="500"
          style="background-color: var(--topicColor);"
        ></div>
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div
                class="u-align-left u-container-style u-layout-cell u-right-cell u-size-27 u-white u-layout-cell-1"
              >
                <div
                  class="u-container-layout u-valign-middle u-container-layout-1"
                >
                  <h2
                    class="u-text u-text-default u-text-1"
                    data-animation-name="customAnimationIn"
                    data-animation-duration="1500"
                    data-animation-delay="500"
                  >
                    Khuyến mãi<br />
                  </h2>
                  <p class="u-text u-text-2">
                    Không chỉ được thưởng thức món mới Trà Xoài Bưởi Hồng và Trà
                    Xoài Bưởi Hồng Kem Phô Mai của nhà Duck King, nếu ai ghé
                    Duck King bạn còn được tận hưởng chương trình khuyến mãi
                    siêu khủng nhân dịp khai trương nữa đó!
                  </p>
                  <a
                    href="/"
                    class="u-active-black u-border-3 u-border-active-black u-border-custom-color-5 u-border-hover-white u-btn u-btn-round u-button-style u-hover-custom-color-5 u-none u-radius-50 u-text-active-white u-text-black u-text-hover-white u-btn-1"
                    >Xem Thêm</a
                  >
                </div>
              </div>
              <div
                class="u-container-style u-image u-layout-cell u-left-cell u-size-33 u-image-1"
                data-image-width="800"
                data-image-height="571"
                data-animation-name="flipIn"
                data-animation-duration="1750"
                data-animation-direction="X"
                data-animation-delay="500"
              >
                <div class="u-container-layout u-container-layout-2"></div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="u-border-12 u-border-palette-5-light-2 u-preserve-proportions u-shape u-shape-circle u-white u-shape-2"
          data-animation-name="customAnimationIn"
          data-animation-duration="1500"
          data-animation-delay="500"
        ></div>
      </div>
    <section
      class="u-align-center u-clearfix u-palette-5-light-2 u-section-5"
      id="carousel_3110"
    >
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">ĐẶT HÀNG</h2>
        <div
          class="u-border-6 u-border-palette-1-base u-line u-line-horizontal u-line-1"
          style="border-color: var(--topicColor);"
        ></div>
        <p class="u-large-text u-text u-text-variant u-text-2">
            Nhận đơn đặt hàng trước 4 giờ chiều có thể sẵn sàng cho ĐÓN CÙNG NGÀY. Vui lòng cho biết ngày và giờ đón bạn muốn trước khi trả phòng. Chúng tôi sẽ gửi thông báo ngay sau khi đơn hàng của bạn sẵn sàng để nhận.&nbsp;<br />
        </p>
       
      </div>
    </section>
    <section
      class="u-align-center u-clearfix u-palette-5-light-2 u-section-6"
      id="carousel_1d95"
    >
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-shape u-shape-circle u-white u-shape-1"></div>
        <img class="u-image u-image-1"
        src="/images/Anhchupmanhinh2022-04-16170502.png" data-image-width="712"
        data-image-height="571" />
        <div class="u-align-left u-container-style u-group u-white u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h3 class="u-text u-text-default u-text-1">
                Sản phẩm mới
            </h3>
            <p class="u-text u-text-2">
                Chỉ mới đầu tháng 6 mà thời tiết đã thực sự oi bức, báo hiệu một mùa hè không mấy dễ chịu sắp đến gần. Dù vậy thì chúng ta cũng chẳng ghét mùa hè được bởi sự xuất hiện của hai nước uống ngon hấp dẫn là Trà Xoài Bưởi Hồng và Trà Xoài Bưởi Hồng Kem Phô Mai mà thương hiệu trà sữa Duck King đã tung ra ngày 30/04.
            </p>
            <a
              href="/"
              class="u-active-black u-border-3 u-border-active-black u-border-custom-color-5 u-border-hover-white u-btn u-btn-round u-button-style u-hover-custom-color-5 u-none u-radius-50 u-text-active-white u-text-body-color u-text-hover-white u-btn-1"
              >Xem Thêm</a
            >
          </div>
        </div>
      </div>
    </section>
    <%- include('../partials/footer') %>
  </body>
</html>
